/* Global styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: #1c6ea4;
  margin: 20px 0;
  font-size: 28px;
  text-transform: uppercase;
}

/* Navigation */
nav {
  background-color: #1c6ea4;
  padding: 10px;
}
nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Dice container */
#dice-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.dice-button {
  color: #fff;
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 50px;
  background-image: radial-gradient(
    at center center,
    rgb(0, 87, 164) 0%,
    rgb(117, 0, 81) 100%
  );
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
}

.dice-button:hover {
  background: #0057a4;
}

/* Clear button container */
#clear-button-container {
  text-align: center;
  margin-top: 20px;
}

/* Results container */
/* Results container */
#results {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px; /* Reduced padding */
  max-height: 200px; /* Maintain max height */
  margin-top: 20px;
  background-color: #fff;
  overflow: hidden; /* Hide overflow */
  text-align: left; /* Align text to the left */
  line-height: 1.4; /* Improved line spacing for readability */
  white-space: pre-line; /* Preserve line breaks */
}

/* Individual result items */
#results p {
  margin: 0; /* Remove default margins */
  padding: 5px 0; /* Adjust spacing between results */
  border-bottom: 1px solid #ccc; /* Add separators between results */
}


/* Modifier container */
#modifier-container {
  margin-top: 20px;
}

label {
  font-size: 18px;
  font-weight: bold;
}

input[type="number"] {
  padding: 10px;
  font-size: 16px;
  width: 80px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

/* Roll with Modifier button */
#roll-with-modifier {
  background-color: #1c6ea4;
  color: white;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#roll-with-modifier:hover {
  background-color: #14477e;
}
